* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}
/* logo style */
.logo {
  color: rgb(255, 94, 0);
  font-size: 3rem;
}
.cro {
  color: blue;
  font-size: 2.5rem;
}
.main_nav a {
  text-decoration: none;
}
.main_nav ul {
  list-style: none;
}
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* Nav  */
.main_nav {
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
}
.main_nav ul {
  display: flex;
}
.main_menu {
  display: flex;
  flex: 1;
}
.main_menu li {
  padding: 0 10px;
  margin-left: 20px;
  margin-top: 15px;
}
.right_menu li {
  padding: 0 10px;
  margin-top: 15px;
}
.main_menu li a:hover {
  font-weight: bold;
  border-bottom: blue 2px solid;
}
.right_menu li a:hover {
  border-bottom: blue 2px solid;
}

/* Show case Area Section */
