* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  width: 70%;
  margin: auto;
}

/* Logo  */
.logo h1 {
  color: chocolate;
}
.logo .my {
  color: darkblue;
  font-size: 2.5rem;
}
.logo a {
  text-decoration: none;
  font-size: 1.5rem;
}
nav {
  display: flex;
  justify-content: space-between;
}
.main_menu {
  padding: 25px;
  flex: 1;
}
.main_menu a {
  text-decoration: none;
  padding: 10px;
  color: black;
}
.main_menu li {
  display: inline;
}
.right_menu {
  padding: 25px;
}
.right_menu li {
  display: inline;
  padding: 10px;
}
.right_menu a {
  color: black;
}
.right_menu a:hover {
  color: blue;
  border-bottom: blue 2px solid;
}
.main_menu a:hover {
  color: blue;
  border-bottom: blue 2px solid;
}

/* Bosy showcase area styling */
.showcase {
  display: flex;
  background: url("./images/slide1.png") no-repeat center center/cover;
  width: 100%;
  height: 500px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
}
.shop {
  padding: 12px;
  background-color: black;
  color: azure;
  text-decoration: none;
  margin-bottom: 50px;
}
.showcase h1,
p {
  margin-bottom: 10px;
}
.shop {
  margin-top: 20px;
}

/* Card 1 Area Section */

.card1Area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 40px;
}
.card h1 {
  font-size: 1.2rem;
  margin-top: 5px;
}
.card img {
  width: 100%;
  margin-bottom: 20px;
}
.card a {
  text-decoration: none;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #0067b8;
}
.card a:hover {
  color: red;
}

/* Xbox game pass area section */
.xbox {
  background: url(./images/xbox.png) no-repeat center center/cover;
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
}
.xbox h1,
.xbox p,
.xbox a {
  width: 40%;
  padding: 50px 0 0 30px;
  text-decoration: none;
}
.xbox a {
  color: #0067b8;
  font-weight: bold;
}
.xbox a:hover {
  color: red;
}
